{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class='container mt-3'>
{% if user.is_authenticated %}

  Hi {{ user.username }}!
  <br>
<a href="{% url 'event-list' %}">Events</a><br>
  <a href="{% url 'registered-events' %}">Registered Events</a><br>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>

  <p>If you don't have any account then create account</p>
  <a href="{% url 'signup' %}">Sign Up</a>

  <p>API Documentation</p>
  <a href="">Api Documentation</a>
{% endif %}
</div>
{% endblock %}