{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <br>
<a href="{% url 'event-list-create' %}">Event</a><br>
{% comment %} <a href="{% url 'event-retrieve-update-destroy' EventRegistration.pk %}">Event Registration</a> {% endcomment %}
<br>
  <a href="">shared-file</a><br>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>

  <p>If you don't have any account then create account</p>
  <a href="{% url 'signup' %}">Sign Up</a>

  <p>API Documentation</p>
  <a href="">Api Documentation</a>
{% endif %}
{% endblock %}