
{% extends "base.html" %}

{% block content %}
  <h1>Event List</h1>
  <div>

    <ul>
        {% for data in queryset %}
        <div class="row justify-content-center mt-3">
          <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <h2>{{ data.title }}</h2>
                <p>{{ data.description }}</p>
                <a href="{% url 'event-detail' pk=data.pk %}" class="stretched-link"></a>
                
          </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
