{% extends "base.html" %}

{% block content %}
  <h1>My Event List</h1>
  <div>

    {% if registered_events %}
        <ul>
            {% for event_registration in registered_events %}
                <li>
                    <strong>{{ event_registration.event.title }}</strong> <br>
                    {{ event_registration.event.date }} at {{ event.event.time }} <br>
                    {{ event_registration.event.location_name }}<br>
                    {{ event_registration.id}}
                    <form id="unregister-form" method="post" action="{% url 'unregister-from-event' event_registration.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="DELETE">
                        <button type="button" onclick="unregister()">Unregister</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't registered for any events yet.</p>
    {% endif %}

    <a href="{% url 'event-list' %}">Back to Event List</a>
</div>

<script>
    function unregister() {
        if (confirm('Are you sure you want to unregister?')) {
            var form = document.getElementById('unregister-form');
            form.method = 'POST';
            form.submit();
        }
    }
</script>
{% endblock %}